APP_ENV=dev
CORS_ORIGIN=http://localhost:4200
DB_HOST=parking-db.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=1433
DB_NAME=parking_db
DB_USER=parking_admin
DB_PASSWORD=CAMBIAR_ESTA_PASSWORD
DB_LOGIN_TIMEOUT=10
DB_QUERY_TIMEOUT=30
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
JWT_ISSUER=parking-api
JWT_EXPIRES_MINUTES=120
